@import "tailwindcss";

:root {
  --background: #FBF5F0;
  --foreground: #171717;
  
  /* Pureminerals fargepalett */
  --primary-blue: #355075;
  --dark-grey: #2C2C2C;	
  --olive-green: #556B2F;
  --copper: #B87333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.mapboxgl-canvas,
.mapboxgl-map {
  position: fixed !important;
  top: 80px !important;
  left: 0 !important;
  width: 100% !important;
  height: 50vh !important;
  /* z-index: 0 !important; */
}


.map-container.maximized .mapboxgl-canvas,
.map-container.maximized .mapboxgl-map {
  position: absolute !important;
  inset: 0 !important;
  width: 100% !important;
  height: 100% !important;
}
.map-container.maximized .mapboxgl-control-container {
  pointer-events: none !important;
}